<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.louis.kitty.admin.dao.AseetsMapper">
  <resultMap id="BaseResultMap" type="com.louis.kitty.admin.model.AseetsInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="num" jdbcType="VARCHAR" property="num" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="measureTime" jdbcType="TIMESTAMP" property="measureTime" />
    <result column="attribute" jdbcType="INTEGER" property="attribute" />
    <result column="holderID" jdbcType="BIGINT" property="holderID" />
    <result column="storageTime" jdbcType="TIMESTAMP" property="storageTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, name, num, status, type, measureTime, attribute, holderID, storageTime
  </sql>
    <select id="findAllAseets"  resultMap="BaseResultMap">
    select  a.* , (select u.name from sys_user u where u.id = a.holderID) holder from assets_info a
  </select>
  <select id="findByAseetType" parameterType="java.lang.Integer" resultMap="BaseResultMap">
  	 select  a.* , (select u.name from sys_user u where u.id = a.holderID) holder from assets_info a where a.type = #{type,jdbcType=INTEGER}
  </select>
    <select id="findByAseetHolder" parameterType="java.lang.Long" resultMap="BaseResultMap">
  	select  a.* , (select u.name from sys_user u where u.id = #{holderID,jdbcType=BIGINT}) holder from assets_info a where a.holderID = #{holderID,jdbcType=BIGINT}
  </select>
  <insert id="insertAseetsInfo" parameterType="com.louis.kitty.admin.model.AseetsInfo">
    insert into assets_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="num != null">
        num,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="type != null">
        type,
      </if>
       <if test="measureTime != null">
        measureTime,
      </if>
      <if test="attribute != null">
        attribute,
      </if>
      <if test="holderID != null">
        holderID,
      </if>
       <if test="storageTime != null">
        storageTime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="type != null">
        #{type,jdbcType=INTEGER},
      </if>
      <if test="measureTime != null">
        #{measureTime,jdbcType=TIMESTAMP},
      </if>
      <if test="attribute != null">
        #{attribute,jdbcType=INTEGER},
      </if>
      <if test="holderID != null">
        #{holderID,jdbcType=BIGINT},
      </if>
      <if test="storageTime != null">
        #{storageTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByAseetID" parameterType="com.louis.kitty.admin.model.AseetsInfo">
    update assets_info
    <set>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="num != null">
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=BIGINT},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=BIGINT},
      </if>
      <if test="measureTime != null">
        measureTime = #{measureTime,jdbcType=TIMESTAMP},
      </if>
         <if test="attribute != null">
        attribute = #{attribute,jdbcType=BIGINT},
      </if>
      <if test="holderID != null">
        holderID = #{holderID,jdbcType=BIGINT},
      </if>
      <if test="measureTime != null">
        storageTime = #{storageTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>